@charset "UTF-8";

@media screen and (min-width: 768px) and (max-width: 992px) {
    body {
        background-image: linear-gradient(to top, #49a09d, #5f2c82);
    }
    
    section#login {
        width: 70vw;
        display: flex;
        flex-direction: row;
        height: 320px;
    }

    section#login > div#imagem{
        width: 30%;
        height: 100%;
    }
    
    section#login > div#formulario{
        width: 70%;
        height: 100%;
    }

    div#formulario .campo{
        margin-block: 5px;
    }

    form > input[type=submit] {
        margin-block: 20px 5px;
    }
}

@media screen and (min-width: 992px) {
    body {
        background-image: linear-gradient(to top, #49a09d, #5f2c82);
    }

    section#login {
        width: 920px;
        height: 340px;
        display: flex;
        flex-direction: row-reverse;
    }

    section#login > div#imagem{
        width: 50%;
        height: 100%;
    }
    
    section#login > div#formulario{
        width: 50%;
        height: 100%;
    }

    div#formulario > h1 {
        font-size: 2em;
    }
    
    div#formulario > p {
        font-size: 1em;
    }

    
    div#formulario .campo{
        margin-block: 5px;
    }

    form > input[type=submit] {
        margin-block: 20px 5px;
    }
}